{% set server_code_tunnel_path = [
  '/usr/local/sbin',
  '/usr/local/bin',
  '/usr/sbin',
  '/usr/bin',
  '/sbin',
  '/bin',
  check_os_brew_base_path ~ '/bin',
  check_os_brew_base_path ~ '/sbin',
  '/home/' ~ ansible_user ~ '/.bun/bin',
  '/home/' ~ ansible_user ~ '/.krew/bin',
  '/home/' ~ ansible_user ~ '/go/bin',
  '/home/' ~ ansible_user ~ '/.local/share/mise/shims',
  '/home/' ~ ansible_user ~ '/.local/share/uv/tools',
  '/usr/local/go/bin'
] | join(':') %}
[Service]
Environment="SHELL=/bin/sh"
Environment="PATH={{ server_code_tunnel_path }}"
