{% set server_code_tunnel_path = [
  '/usr/local/sbin',
  '/usr/local/bin',
  '/usr/sbin',
  '/usr/bin',
  '/sbin',
  '/bin',
  check_os_brew_base_path ~ '/bin',
  check_os_brew_base_path ~ '/sbin',
  ansible_facts['user_dir'] ~ '/go/bin',
  ansible_facts['user_dir'] ~ '/.bun/bin',
  ansible_facts['user_dir'] ~ '/.krew/bin',
  ansible_facts['user_dir'] ~ '/.cargo/bin',
  ansible_facts['user_dir'] ~ '/.local/bin',
  ansible_facts['user_dir'] ~ '/.local/share/mise/shims',
  '/usr/local/go/bin'
] | join(':') %}
[Service]
Environment="PATH={{ server_code_tunnel_path }}"
