[Unit]
Description=Server updater

[Service]
Type=oneshot
EnvironmentFile=-{{ ansible_facts.user_dir }}/.config/environment.d/env.conf
WorkingDirectory={{ server_dotfiles_dir.stdout }}
ExecStart=uv run ansible-playbook -v -i inventory update-linux.yaml
