- name: Update apt packages
  become: true
  block:
    - name: Audit dpkg configuration
      ansible.builtin.command: dpkg --configure -a
      changed_when: false
    - name: Update apt packages
      ansible.builtin.apt:
        autoclean: true
        autoremove: true
        update_cache: true
        upgrade: dist

- name: Install packages
  become: true
  ansible.builtin.apt:
    name:
      - jq
      - yq
      - lldb
      - clangd
    state: present

- name: Clangd settings
  block:
    - name: Create clangd config directory
      ansible.builtin.file:
        path: /home/{{ ansible_user }}/.config/clangd
        state: directory
        mode: "0755"
        recurse: true
    - name: Copy config.yaml
      ansible.builtin.copy:
        src: config.yaml
        dest: /home/{{ ansible_user }}/.config/clangd/config.yaml
        mode: "0644"
