[Unit]
Description=Minikube Service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/{{ ansible_user }}
ExecStart={{ minikube_path.stdout }} start --cni=bridge --enable-default-cni --container-runtime=containerd --bootstrapper=kubeadm
ExecStop={{ minikube_path.stdout }} stop
User={{ ansible_user }}
Group={{ ansible_user }}

[Install]
WantedBy=multi-user.target
