- name: Setup Kind cluster
  block:
    - name: Install Kind
      community.general.homebrew:
        state: latest
        path: /home/linuxbrew/.linuxbrew/bin
        name:
          - kind
    - name: Get current dir path
      ansible.builtin.command: pwd
      register: k8s_dotfiles_dir
      changed_when: false
    - name: Create Kind cluster
      ansible.builtin.command: kind create cluster --config {{ k8s_dotfiles_dir.stdout }}/roles/k8s/files/cluster-config.yaml
      changed_when: false
      failed_when: false

- name: Install K8s-related components
  block:
    - name: Install K8s-related packages
      community.general.homebrew:
        state: latest
        path: /home/linuxbrew/.linuxbrew/bin
        name:
          - krew
          - kustomize
          - helm
          - helmfile
          - kubeseal
          - kube-linter
          - kubeconform
          - k9s
          - viddy
    - name: Install kubectl plugins
      ansible.builtin.command: kubectl krew install stern iexec oidc-login view-allocations tree resource-capacity neat
      changed_when: false
