- name: Update dotfiles
  block:
    - name: Get Current Dir Path
      ansible.builtin.command: pwd
      register: workspace_dotfiles_dir
      changed_when: false
    - name: Update dotfiles
      ansible.builtin.git: # noqa: latest
        repo: https://github.com/logica0419/dotfiles.git
        dest: "{{ workspace_dotfiles_dir.stdout }}"
      failed_when: false

- name: Clone GitHub Repositories
  ansible.builtin.git: # noqa: latest
    repo: "{{ item.repo }}"
    dest: "~/prj/{{ item.dest }}"
  failed_when: false
  with_items:
    - repo: https://github.com/ictsc/ictsc-regalia.git
      dest: ICTSC/ictsc-regalia
    - repo: https://github.com/ictsc/ictsc-drove.git
      dest: ICTSC/ictsc-drove

    - repo: https://github.com/nekko-lab/kakko
      dest: nekko-lab/kakko

    - repo: https://github.com/logica0419/zenn-article.git
      dest: personal/zenn-article
    - repo: https://github.com/logica0419/slides.git
      dest: personal/slides
    - repo: https://github.com/logica0419/proposals.git
      dest: personal/proposals
    - repo: https://github.com/logica0419/con-pro.git
      dest: personal/con-pro
    - repo: https://github.com/logica0419/compiler.git
      dest: personal/compiler
    - repo: https://github.com/logica0419/logica0419.dev.git
      dest: personal/logica0419.dev
    - repo: https://github.com/logica0419/coding-kubernetes.git
      dest: personal/coding-kubernetes
    - repo: https://github.com/logica0419/etsecd.git
      dest: personal/etsecd

    - repo: https://github.com/hatahatack/score_plorer_v2.git
      dest: ajy/score_plorer_v2

    - repo: https://go.googlesource.com/go
      dest: oss/go
    - repo: https://go.googlesource.com/vscode-go
      dest: oss/vscode-go
    - repo: https://github.com/logica0419/kubernetes.git
      dest: oss/kubernetes
    - repo: https://github.com/logica0419/website.git
      dest: oss/k8s-website
    - repo: https://github.com/logica0419/etcd
      dest: oss/etcd
    - repo: https://github.com/logica0419/raft
      dest: oss/raft

- name: Setup Biome config
  ansible.builtin.copy:
    src: biome.json
    dest: ~/biome.json
    mode: "0664"

- name: Setup Go Repository
  block:
    - name: Copy .envrc file
      ansible.builtin.copy:
        src: .envrc
        dest: ~/prj/oss/go/.envrc
        mode: "0664"
    - name: Allow direnv
      ansible.builtin.command:
        cmd: /home/linuxbrew/.linuxbrew/bin/direnv allow
        chdir: ~/prj/oss/go
      changed_when: false
    - name: Copy exclude file
      ansible.builtin.copy:
        src: exclude
        dest: ~/prj/oss/go/.git/info/exclude
        mode: "0664"
    - name: Create .vscode directory
      ansible.builtin.file:
        path: ~/prj/oss/go/.vscode
        state: directory
        mode: "0755"
    - name: Copy settings.json file
      ansible.builtin.copy:
        src: go-settings.jsonc
        dest: ~/prj/oss/go/.vscode/settings.json
        mode: "0664"
    - name: Check built Go version
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: |
          set -o pipefail
          ~/prj/oss/go/bin/go version | cut -d " " -f 3 | cut -c 3-6
      register: workspace_go_built
      changed_when: false
      failed_when: false
    - name: Check required Go version
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: |
          set -o pipefail
          cat ~/prj/oss/go/src/go.mod | grep "go 1." | cut -d " " -f 2
      register: workspace_go_required
      changed_when: false
      failed_when: false
    - name: Build Go from source
      ansible.builtin.command:
        cmd: ./make.bash
        chdir: ~/prj/oss/go/src
      changed_when: false
      when: workspace_go_built.stdout != workspace_go_required.stdout

- name: Setup vscode-go repository
  block:
    - name: Put .vscode to skip-worktree # noqa: command-instead-of-module
      ansible.builtin.shell:
        cmd: /home/linuxbrew/.linuxbrew/bin/git update-index --skip-worktree .vscode/*
        chdir: ~/prj/oss/vscode-go
      changed_when: false
    - name: Copy settings.json file
      ansible.builtin.copy:
        src: vscode-go-settings.jsonc
        dest: ~/prj/oss/vscode-go/.vscode/settings.json
        mode: "0664"
