- name: Update Homebrew-related components
  block:
    - name: Update Homebrew & Homebrew packages
      community.general.homebrew:
        path: /home/linuxbrew/.linuxbrew/bin
        update_homebrew: true
        upgrade_all: true
    - name: Run brew autoremove
      ansible.builtin.command: /home/linuxbrew/.linuxbrew/bin/brew autoremove
      changed_when: false

- name: Update Go packages
  ansible.builtin.shell: |
    export PATH=$PATH:/usr/local/go/bin
    /home/{{ ansible_user }}/go/bin/gup update
  changed_when: false

- name: Update Krew packages
  ansible.builtin.command: /home/linuxbrew/.linuxbrew/bin/kubectl-krew upgrade
  changed_when: false

- name: Update mise packages
  ansible.builtin.command: /home/linuxbrew/.linuxbrew/bin/mise upgrade --bump
  changed_when: false

- name: Update local DB
  block:
    - name: Get current dir path
      ansible.builtin.command: pwd
      register: update_dotfiles_dir
      changed_when: false
    - name: Check latest images
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: |
          set -o pipefail
          docker compose pull 2>&1 | grep "Pull complete"
      environment:
        COMPOSE_PROJECT_NAME: local_db
        COMPOSE_FILE: "{{ update_dotfiles_dir.stdout }}/roles/db/files/docker-compose.yaml"
      register: update_docker_compose
      changed_when: false
      failed_when: false
    - name: Restart local DB
      ansible.builtin.shell: docker compose down && docker compose up -d
      environment:
        COMPOSE_PROJECT_NAME: local_db
        COMPOSE_FILE: "{{ update_dotfiles_dir.stdout }}/roles/db/files/docker-compose.yaml"
      changed_when: false
      failed_when: false
      when: update_docker_compose.rc == 0

- name: Prune Docker components
  ansible.builtin.shell: |
    docker image prune -a -f
    docker volume prune -a -f
    docker network prune -f
  changed_when: false
