[credential "https://github.com"]
helper = !{{ brew_base_path }}/bin/gh auth git-credential
[credential "https://gist.github.com"]
helper = !{{ brew_base_path }}/bin/gh auth git-credential
[user]
name = Takuto Nagami
email = logica0419@gmail.com
signingkey = /home/{{ ansible_user }}/.ssh/id_ed25519.pub
[gpg]
format = ssh
[commit]
gpgsign = true
[core]
editor = code --wait
[pull]
rebase = true
[http]
cookiefile = /home/{{ ansible_user }}/.gitcookies
[init]
defaultBranch = main