[credential "https://github.com"]
helper = !{{ check_os_brew_base_path }}/bin/gh auth git-credential
[credential "https://gist.github.com"]
helper = !{{ check_os_brew_base_path }}/bin/gh auth git-credential
[user]
name = Takuto Nagami
email = logica0419@gmail.com
signingkey = {{ ansible_user_dir }}/.ssh/id_ed25519.pub
[gpg]
format = ssh
[commit]
gpgsign = true
[core]
editor = code --wait
[pull]
rebase = true
[http]
cookiefile = {{ ansible_user_dir }}/.gitcookies
[init]
defaultBranch = main