- name: Install Docker
  become: true
  block:
    - name: Add gpg key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/debian/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: "0644"
        force: true
    - name: Add Docker repository
      ansible.builtin.apt_repository:
        repo: >-
          deb [signed-by=/etc/apt/keyrings/docker.asc]
          https://download.docker.com/linux/ubuntu jammy stable
        state: present
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
    - name: Install Docker
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present

- name: Apply containerd settings
  become: true
  block:
    - name: Flush handlers
      ansible.builtin.meta: flush_handlers

- name: Setup docker group
  become: true
  block:
    - name: Create docker group
      ansible.builtin.group:
        name: docker
        state: present
    - name: Append current user to docker group
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups:
          - docker
        append: true
      register: container_result
    - name: Stop ansible-playbook
      ansible.builtin.fail:
        msg: Please restart PC to apply docker group privilege
      when: container_result is changed # noqa: no-handler
