- name: Install Homebrew
  install_brew:

- name: Update Homebrew
  community.general.homebrew:
    path: /home/linuxbrew/.linuxbrew/bin
    update_homebrew: true

- name: Install packages
  block:
    - name: Register Homebrew tap
      community.general.homebrew_tap:
        path: /home/linuxbrew/.linuxbrew/bin
        name:
          - ycd/tap
          - ktr0731/evans
          - k1LoW/tap
          - derailed/k9s
          - hashicorp/tap
          - oven-sh/bun
    - name: Install packages
      community.general.homebrew:
        state: latest
        path: /home/linuxbrew/.linuxbrew/bin
        name:
          - rustup
          - python3
          - pipenv
          - wasmtime
          - wabt
          - git
          - gh
          - htop
          - buf
          - shfmt
          - hashicorp/tap/terraform
          - tflint
          - direnv
          - dstp
          - tbls
          - hadolint
          - ko
          - go-task
          - mise
          - oven-sh/bun/bun
          - eslint
          - prettier
          - biome
          - stylelint
