[Unit]
Description=WSL Updater

[Service]
Type=simple
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart={{ updater_wsl_ansible_path.stdout }} -v -u {{ ansible_user }} -i {{ updater_wsl_dotfiles_dir.stdout }}/inventory {{ updater_wsl_dotfiles_dir.stdout }}/update.yaml

[Install]
WantedBy=multi-user.target
