- name: Setup local DB
  block:
    - name: Get current dir path
      ansible.builtin.command: pwd
      register: db_dotfiles_dir
      changed_when: false
    - name: Run local DB
      ansible.builtin.command: docker compose up -d
      environment:
        COMPOSE_PROJECT_NAME: local_db
        COMPOSE_FILE: "{{ db_dotfiles_dir.stdout }}/roles/db/files/docker-compose.yaml"
      changed_when: false

- name: Setup MySQL client
  block:
    - name: Install MySQL client
      become: true
      ansible.builtin.apt:
        name: mysql-client-core-8.0
        state: present
    - name: Copy MySQL client config
      ansible.builtin.copy:
        src: my.cnf
        dest: /home/{{ ansible_user }}/.my.cnf
        mode: "0644"
