- name: Install Go
  block:
    - name: Check current Go version
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: |
          set -o pipefail
          /usr/local/go/bin/go version | cut -f 3 -d " "
      register: go_current
      changed_when: false
      failed_when: false
    - name: Check latest Go version
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: |
          set -o pipefail
          curl -s https://go.dev/dl/?mode=json | jq -r .[0].version
      register: go_latest
      changed_when: false
    - name: Install latest Go
      become: true
      when: go_current.stdout != go_latest.stdout
      block:
        - name: Remove old installation
          ansible.builtin.file:
            path: /usr/local/go
            state: absent
        - name: Download latest Go
          ansible.builtin.unarchive:
            src: https://go.dev/dl/{{ go_latest.stdout }}.linux-amd64.tar.gz
            dest: /usr/local
            remote_src: true

- name: Install Go packages
  go_install:
    name: "{{ item }}"
  loop:
    - golang.org/x/tools/gopls
    - github.com/cweill/gotests/gotests
    - github.com/fatih/gomodifytags
    - github.com/josharian/impl
    - github.com/haya14busa/goplay/cmd/goplay
    - github.com/go-delve/delve/cmd/dlv
    - github.com/golangci/golangci-lint/v2/cmd/golangci-lint

    - github.com/nao1215/gup
    - github.com/spf13/cobra-cli
    - golang.org/x/review/git-codereview
