- name: Set timezone to Asia/Tokyo
  become: true
  community.general.timezone:
    name: Asia/Tokyo

- name: Copy SSH keys to root home
  become: true
  ansible.builtin.copy:
    src: /home/{{ ansible_user }}/.ssh/
    dest: /root/.ssh/
    mode: "0755"
    owner: root
    group: root
    remote_src: true

- name: Setup Tailscale
  become: true
  block:
    - name: Get Tailscale install script
      ansible.builtin.get_url:
        url: https://tailscale.com/install.sh
        dest: /tmp/install.sh
        mode: "0755"
    - name: Install Tailscale
      ansible.builtin.command: /tmp/install.sh
      changed_when: false
    - name: Enable auto update
      ansible.builtin.command: tailscale set --auto-update
      changed_when: false

- name: Setup VS Code server
  block:
    - name: Install
      become: true
      block:
        - name: Add gpg key
          ansible.builtin.get_url:
            url: https://packages.microsoft.com/keys/microsoft.asc
            dest: /etc/apt/keyrings/microsoft.asc
            mode: "0644"
            force: true
        - name: Copy repository ref
          ansible.builtin.copy:
            src: vscode.sources
            dest: /etc/apt/sources.list.d/vscode.sources
            mode: "0644"
        - name: Update apt cache
          ansible.builtin.apt:
            update_cache: true
        - name: Install code
          ansible.builtin.apt:
            name: code
            state: present
    - name: Setup server
      block:
        - name: Enable linger state
          ansible.builtin.command: loginctl enable-linger {{ ansible_user }}
          changed_when: false
        - name: Create VS Code settings directory
          ansible.builtin.file:
            path: /home/{{ ansible_user }}/.vscode-server/data/Machine
            state: directory
            mode: "0755"
        - name: Copy VS Code settings
          ansible.builtin.copy:
            src: settings.json
            dest: /home/{{ ansible_user }}/.vscode-server/data/Machine/settings.json
            mode: "0644"

- name: Setup updater
  block:
    - name: Get current dir path
      ansible.builtin.command: pwd
      register: server_dotfiles_dir
      changed_when: false
    - name: Get ansible-playbook path
      ansible.builtin.command: which ansible-playbook
      register: server_ansible_playbook_path
      changed_when: false
    - name: Setup updater for server
      ansible.builtin.cron:
        name: update packages
        minute: 0
        hour: 4
        user: "{{ ansible_user }}"
        job: >-
          {{ server_ansible_playbook_path.stdout }} -v -u {{ ansible_user }}
          -i {{ server_dotfiles_dir.stdout }}/inventory {{ server_dotfiles_dir.stdout }}/update.yaml

- name: Setup reboot
  become: true
  block:
    - name: Get reboot path
      ansible.builtin.command: which reboot
      register: server_reboot_path
      changed_when: false
    - name: Setup periodical reboot (update detection)
      ansible.builtin.cron:
        name: reboot server (update detection)
        minute: 30
        hour: 4
        user: root
        job: "[ -e /var/run/reboot-required ] && {{ server_reboot_path.stdout }} 0"
    - name: Check if tailscale is up
      ansible.builtin.command: ping -c 1 logica-server.tailccba4.ts.net
      register: server_tailscale_check
      changed_when: false
      ignore_errors: true
    - name: Setup periodical reboot (connectivity check)
      ansible.builtin.cron:
        name: reboot server (connectivity check)
        user: root
        job: >-
          ssh -o StrictHostKeyChecking=no logica-server.tailccba4.ts.net
          curl -m 3 -sL log.tailscale.com >/dev/null || {{ server_reboot_path.stdout }} 0
      when: server_tailscale_check is succeeded

- name: Disable sleep mode
  become: true
  block:
    - name: Disable hybrid sleep
      ansible.builtin.lineinfile:
        path: /etc/systemd/logind.conf
        regexp: "[#]{0,1}IdleAction"
        line: "IdleAction=ignore"
    - name: Mask sleep-related targets
      ansible.builtin.systemd:
        name: "{{ item }}"
        masked: true
      loop:
        - sleep.target
        - suspend.target
        - hibernate.target
        - hybrid-sleep.target
    - name: Restart systemd-logind
      ansible.builtin.systemd:
        name: systemd-logind
        state: restarted
