- name: Set timezone to Asia/Tokyo
  become: true
  community.general.timezone:
    name: Asia/Tokyo

- name: Setup Tailscale
  block:
    - name: Get Tailscale install script
      ansible.builtin.get_url:
        url: https://tailscale.com/install.sh
        dest: /tmp/install.sh
        mode: "0755"
    - name: Install Tailscale
      ansible.builtin.command: /tmp/install.sh
      changed_when: false

- name: Setup VS Code server
  block:
    - name: Install code CLI
      become: true
      ansible.builtin.unarchive:
        src: https://code.visualstudio.com/sha/download?build=stable&os=cli-alpine-x64
        dest: /usr/local/bin/
        remote_src: true
        mode: "0755"
    - name: Enable linger state
      ansible.builtin.command: loginctl enable-linger {{ ansible_user }}
      changed_when: false
    - name: Create VS Code settings directory
      ansible.builtin.file:
        path: ~/.vscode-server/data/Machine
        state: directory
        mode: "0755"
    - name: Copy VS Code settings
      ansible.builtin.copy:
        src: settings.json
        dest: ~/.vscode-server/data/Machine/settings.json
        mode: "0644"

- name: Setup updater
  block:
    - name: Get Current Dir Path
      ansible.builtin.command: pwd
      register: server_dotfiles_dir
      changed_when: false
    - name: Get ansible-playbook Path
      ansible.builtin.command: which ansible-playbook
      register: server_ansible_playbook_path
      changed_when: false
    - name: Setup Updater for Server
      ansible.builtin.cron:
        name: update packages
        minute: 0
        hour: 4
        job: >-
          {{ server_ansible_playbook_path.stdout }} -v -u {{ ansible_user }}
          -i {{ server_dotfiles_dir.stdout }}/inventory {{ server_dotfiles_dir.stdout }}/update.yaml

- name: Setup reboot
  become: true
  block:
    - name: Get reboot Path
      ansible.builtin.command: which reboot
      register: server_reboot_path
      changed_when: false
    - name: Setup periodical reboot (update detection)
      ansible.builtin.cron:
        name: reboot server (update detection)
        minute: 30
        hour: 4
        user: root
        job: "[ -e /var/run/reboot-required ] && {{ server_reboot_path.stdout }} 0"

- name: Disable sleep mode
  become: true
  block:
    - name: Mask sleep-related targets
      ansible.builtin.systemd:
        name: "{{ item }}"
        masked: true
      loop:
        - sleep.target
        - suspend.target
        - hibernate.target
        - hybrid-sleep.target
    - name: Restart systemd-logind
      ansible.builtin.systemd:
        name: systemd-logind
        state: restarted
