- name: SSH settings
  block:
    - name: Create .ssh directory
      ansible.builtin.file:
        path: ~/.ssh
        state: directory
        mode: "0755"
    - name: Move SSH config
      ansible.builtin.copy:
        src: ssh_config
        dest: ~/.ssh/config
        mode: "0644"

- name: Put WSL config
  become: true
  ansible.builtin.copy:
    src: wsl.conf
    dest: /etc/wsl.conf
    mode: "0644"

# https://github.com/microsoft/WSL/issues/8843#issuecomment-1837264576
- name: Setup binfmt service
  become: true
  block:
    - name: Copy binfmt service file
      ansible.builtin.copy:
        src: binfmt.service
        dest: /etc/systemd/system/binfmt.service
        mode: "0644"
    - name: Copy binfmt path unit file
      ansible.builtin.copy:
        src: binfmt.path
        dest: /etc/systemd/system/binfmt.path
        mode: "0644"
    - name: Enable binfmt service
      ansible.builtin.systemd:
        name: binfmt.service
        enabled: true
        daemon_reload: true
        state: restarted
    - name: Enable binfmt path unit
      ansible.builtin.systemd:
        name: binfmt.path
        enabled: true
        daemon_reload: true
        state: restarted

# https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-wsl-windows-subsystem-for-linux
- name: Install Chromium-related packages
  become: true
  ansible.builtin.apt:
    name:
      - libgtk-3-dev
      - libnotify-dev
      - libnss3
      - libxss1
      - libasound2t64
    state: present

- name: Add Chrome file to /usr/bin
  become: true
  ansible.builtin.copy:
    src: chrome
    dest: /usr/bin/chrome
    mode: "0755"

- name: Font settings
  become: true
  block:
    - name: Install packages
      ansible.builtin.apt:
        name:
          - fontconfig
        state: present
    - name: Copy font setting
      ansible.builtin.copy:
        src: local.conf
        dest: /etc/fonts/local.conf
        mode: "0644"
    - name: Enable font setting
      ansible.builtin.command: fc-cache -fv
      changed_when: false

- name: Setup updater service
  become: true
  block:
    - name: Get current dir path
      ansible.builtin.command: pwd
      register: wsl_dotfiles_dir
      changed_when: false
    - name: Get ansible path
      ansible.builtin.command: which ansible-playbook
      register: wsl_ansible_path
      changed_when: false
    - name: Copy updater service template
      ansible.builtin.template:
        src: updater.service.j2
        dest: /etc/systemd/system/updater.service
        mode: "0644"
    - name: Enable updater service
      ansible.builtin.systemd:
        name: updater.service
        enabled: true
        daemon_reload: true
        state: restarted
