[Unit]
Description=WSL binfmt restore
After=systemd-binfmt.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '(echo -1 > /proc/sys/fs/binfmt_misc/WSLInterop-late) ; (echo :WSLInterop-late:M::MZ::/init:P > /proc/sys/fs/binfmt_misc/register)'

[Install]
WantedBy=multi-user.target
