name: CI

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
      - name: Setup Python
        uses: actions/setup-python@v6.0.0
      - name: Install Ansible Lint
        run: pip install ansible ansible-lint
      - name: Ansible Lint
        run: ansible-lint -s --exclude ./.github/ --exclude ./.github/workflows/
